@page
@model IndexModel
@{
    ViewData["Title"] = "JamFan for Jamulus";
}
<meta http-equiv="refresh" content="65">
<div class="text-center">
    <h1 class="display-4">JamFan for Jamulus</h1>
<p> @Html.Raw(@Model.RightNow) </p>
</div>
